main{
    display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}

.a , .b, .c , .d , .i{
    grid-column: span 2;
    display:flex;
    justify-content: center;
    align-items:center;
}
div {
    display:flex;
    justify-content: center;
    align-items:center;
}