@media (min-width: 768px){
    main{
       display: grid;
       grid-template-columns: 20% 1fr 1fr 1fr 1fr ;
       grid-template-rows: 100px 200px 250px 150px;
    }
    .a{
        grid-column: span 5;
    }
    .b{
        grid-column: span 1;
        grid-row: 2/5;
    }
    .c{
        grid-column: span 2/4;
    }
    .i{
        grid-column:2/-1;
    }
}

