.a{
    background-color: slateblue;
}  
.b{
    background-color: rgb(45, 13, 255);
}
.c{
    background-color: rgb(221, 57, 71);
}
.d{
    background-color: rgb(221, 57, 106);
}
.e{
    background-color: rgb(221, 57, 147);
}
.f{
    background-color: rgb(221, 57, 194);
}
.g{
    background-color: rgb(221, 57, 106);
}
.h{
    background-color: rgb(221, 196, 57);
}
.i{
    background-color: rgb(76, 146, 192);
}